<!DOCTYPE html>

<html>
    <head>
        <title>Matcha</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style_connect.css" />
        <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
         <script type="text/javascript" src="/js/noty/packaged/jquery.noty.packaged.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMREstjS_JgXU5xx1l3kesHy1Kevxq19Q"
    async defer></script>
<script type="text/javascript" src="static/js/map.js"></script>
    </head>

    <body  class="back_ground" onload="initialize()">
        <nav class="navbar navbar-default top-bar navbar-fixed-top" data-spy="affix" data-offset-top="250" >
    <div class="container" >
        <!- Brand and toggle get grouped for better mobile display ->
        <div class="navbar-header page-scroll">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index" class="navbar-brand">Mon profil</a>
        </div>
        <!- Collect the nav links, forms, and other content for toggling ->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/rencontre">Rencontre</a></li>   
                <li><a href="/chat">Chat</a></li>
                <li><a href="/activite" id="activite">Activité <% if (user.notif === "yes") { %><span class="glyphicon glyphicon-info-sign"></span> <% } %></a></li>
                <li><a href="/">Déconnection</a></li>
                
            </ul>
        </div>
        <!- /.navbar-collapse ->
    </div>
    <!- /.container-fluid ->
</nav>

<section id="home" style="margin-top: 47px;">
<div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= user.login %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= user.photo1 %>" style='width: 150px' class="img-circle img-responsive"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nom:</td>
                        <td><%= user.nom %></td>
                      </tr>
                      <tr>
                        <td>Prénom:</td>
                        <td><%= user.prenom %></td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td><%= user.age %></td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Sexe:</td>
                        <td><%= user.sexe %></td>
                      </tr>
                        <tr>
                        <td>Orientation:</td>
                        <td><%= user.orientation %></td>
                      </tr>
                      <tr>
                        <td>E-mail:</td>
                        <td><a href="mailto:info@support.com"><%= user.email %></a></td>
                      </tr>
                      <tr>
                        <td>Bio:</td>
                        <td><%= user.bio %></td>
                      </tr>
                      <tr>
                        <td>Interêts:</td>
                        <td><%= user.intere %></td>
                      </tr>
                      <tr>
                        <td>Popularité:</td>
                        <td><%= user.popularite %></td>
                      </tr>
                      <tr>
                        <td>Mes photos:</td>
                        <td><img src="<%= user.photo2 %>" style="width:118px">
                                <img src="<%= user.photo3 %>" style="width:118px">
                                <img src="<%= user.photo4 %>" style="width:118px">
                                <img src="<%= user.photo5 %>" style="width:118px"></td>
                      </tr>
                      <tr>
                        <input id='db_lat' type='hidden' value='<%= user.lat %>'></input>
                        <input id='db_longi' type='hidden' value='<%= user.longi %>'></input>
                        <td>Ma position:</td>
                        <td><div id="map" style="width:100%;height:400px;"></div></td>
                      </tr>
                        
                     
                    </tbody>
                  </table>
                  

                </div>
              </div>
            </div>
                 <div class="panel-footer">
                      <a href="/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <span class="pull-right">
                           
                            
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>

</section>
<input id="login" type="hidden" name="code" value="<%= user.login %>"/>
<input id="test" type="hidden" name="code" value="profile"/>
<script type="text/javascript" src="static/js/new_position.js"></script>
  <script type="text/javascript" src="../static/js/socket.js"></script>
  <script src="/socket.io/socket.io.js"></script>
        


    </body>
</html>
